<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
        <li id="dashboards_menu" class="nav-item has-treeview ">
            <a id="dashboards_panel" href="#" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>Dashboard<i class="right fas fa-angle-left"></i></p>
            </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a id="dashboard_v1" href="{% url 'admin_lte:index' %}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Example</p>
            </a>
          </li>
          <li class="nav-item">
            <a id="dashboard_v1" href="{% url 'admin_lte:users' %}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Users</p>
            </a>
          </li>
        </ul>

        </li>

        <li id="tables_menu" class="nav-item has-treeview">
        <a id="tables_panel" href="#" class="nav-link">
          <i class="nav-icon fas fa-table"></i>
          <p>Tables
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a id="simple_table" href="{% url 'admin_lte:simple_table' %}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Simple Tables</p>
            </a>
          </li>

          <li class="nav-item">
            <a id="jsgrid_table" href="{% url 'admin_lte:jsgrid_table' %}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>jsGrid</p>
            </a>
          </li>
        </ul>
        </li>
        <li class="nav-header">EXAMPLES</li>
        <li class="nav-item">
        </li>
        <li id="pages_menu" class="nav-item has-treeview">
          <a id="pages_panel" href="#" class="nav-link">
            <i class="nav-icon fas fa-book"></i>
            <p>Pages
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a id="pages_profile" href="{% url 'admin_lte:pages_profile' %}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Profile</p>
            </a>
          </li>
        </li>
        <li id="extra_menu" class="nav-item has-treeview">
          <a id="extra_panel" href="#" class="nav-link">
            <i class="nav-icon far fa-plus-square"></i>
            <p>
              Extras
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a id="extra_login" href="{% url 'admin_lte:extra_login' %}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Login</p>
            </a>
          </li>
          <li class="nav-item">
            <a id="extra_register" href="{% url 'admin_lte:extra_register' %}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Register</p>
            </a>
          </li>
          <li class="nav-item">
            <a id="extra_forgot" href="{% url 'admin_lte:extra_forgot' %}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Forgot Password</p>
            </a>
          </li>
          <li class="nav-item">
            <a id="extra_recover" href="{% url 'admin_lte:extra_recover' %}" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Recover Password</p>
            </a>
          </li>

        </ul>
        </li>
    </ul>
</nav>
